body {
      background-color:#272822;
      font-family : Chaparral;
     }
 
h1 {
    font-size: 100; 
    color: #8f908a; 
    text-align: center;
 }
 
h2 {
    font-size: 35; 
    color: #f8f8f2; 
    text-align: center;
 }
a {
    font-size: 25; 
    color: white; 
    border: 3px blue dashed;
    border-radius: 5px;
    a.no-decoration
 }
a.no-decoration {
  text-decoration: none;
}
